certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
idna==3.3
loguru==0.6.0
Pillow==9.1.1
pyTelegramBotAPI==4.5.1
python-barcode==0.14.0
requests==2.27.1
urllib3==1.26.9
win32-setctime==1.1.0
